{% extends "blog/main.html" %}

{% load static %}

{% block content %}

	<div class="section">
		<h3 class="mainHeading ml-10 mt-10 text-5xl">Your Posts</h3>
	</div>

	<div class="section mt-5">
		{% if user.is_authenticated %}
			{% include "blog/display_post.html" %}
		{% else %}
			<section class="text-gray-500  body-font">
			  <div class="container px-5 py-24 mx-auto">
			  	<div class="p-4 lg:w-full">
				  <div class="h-full bg-gray-800 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
			  		<p>No posts to show. <span><a class="text-xl text-white" href="{% url 'login' %}">SignIn</a></span> to view the posts</p>
			  	  </div>
			  	</div>
			  </div>
			</section>
		{% endif %}
	</div>


{% endblock %}